input[type=text], select, textarea,input[type=email] {
    width: 100%;
    padding: 12px; 
    border: 1px solid #efefef;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button[type=submit] {
    background: linear-gradient(45deg, #FF6633, #a2d2ff);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button[type=submit]:hover {
    background-color: #003049;
  }
  
  .card {
    border-radius: 5px;
    display: grid;
    border: none;
    margin: auto;
    box-shadow:
    -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.75),
    6px 6px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    margin-top: 20px;
    width: 40vw;
  }

.container {
  display: grid;
  place-items: center;
  margin-top: 7vh;
}