.left {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  
  .right {
    display: inline-block;
    width: 49%;
  }
  
  section .left {
    display: inline-block;
    width: 24%;
    vertical-align: top;
  }
  
  section .right {
    display: inline-block;
    width: 74%;
  }
  
  #info h1 {
    margin: 0;
  }
  
  #info h2 {
    margin: 0;
  }
  
  #info .right {
    vertical-align: bottom;
    text-align: right;
  }
  
  .work-title-left {
    display: inline-block;
    width: 74%;
  }
  
  .work-title-right {
    display: inline-block;
    width: 24%;
  }
  